<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>
 

<%= link_to 'Back', @user %> |
<%= link_to 'Edit', edit_user_post_path(@post.user, @post)  %> |
<%= link_to 'Destroy Post', [@post.user, @post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
